In [27]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import tensorflow_decision_forests as tfdf
import os

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

print(f"Found TF-DF {tfdf.__version__}")

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv
Found TF-DF 1.9.1

## 1. Load all necessary data, libraries and files that you will need to next steps

In [28]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [29]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## 2. Conduct EDA - Exploratory Data Analysis

#### =ENG=

EDA is the process of initially analyzing data to understand its structure, patterns, and relationships through visualization and descriptive statistics. EDA helps uncover hidden insights, identify anomalies, and formulate hypotheses that can lead to more advanced analyses.

#### =PL=

EDA to proces wstępnej analizy danych, który ma na celu zrozumienie ich struktury, wzorców i relacji poprzez wizualizację i statystykę opisową. EDA pomaga odkrywać ukryte informacje, identyfikować anomalie oraz formułować hipotezy, które mogą prowadzić do dalszych, bardziej zaawansowanych analiz.

#### =DE=

EDA ist der Prozess der anfänglichen Analyse von Daten, um deren Struktur, Muster und Beziehungen durch Visualisierung und deskriptive Statistik zu verstehen. EDA hilft, versteckte Erkenntnisse zu entdecken, Anomalien zu identifizieren und Hypothesen zu formulieren, die zu weiterführenden, detaillierteren Analysen führen können

#### =ES=

EDA es el proceso de análisis inicial de datos para entender su estructura, patrones y relaciones a través de la visualización y estadísticas descriptivas. El EDA ayuda a descubrir información oculta, identificar anomalías y formular hipótesis que pueden conducir a análisis más avanzados

## 3. You can make some statistics, findings

In [30]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [31]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

## 4. Machine Learning Model

Prepare a model that you will use to predict the results. Feed the model with training data, proceed the learning and at the end make some predictions with your test data. It's good to see the result accuracy.

In [32]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [33]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output

test_result = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")

In [34]:
# Oblicz dokładność
accuracy = accuracy_score(test_result["Survived"], output["Survived"])

print(f'Dokładność modelu: {accuracy:.2f}')

Dokładność modelu: 0.97

## 5. Save your results and sumbit them on competition site!

In [35]:
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!